@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
    background-image: url(/img/patternfl.jpg);}

h1 {color: rgb(126, 44, 44);
text-align: center;
font-size: 50px;
font-weight: bold;
}

#cim {
    margin-bottom: 100px;
    margin-top: 50px;
    font-family: Parisienne;
}

#kiemel {
    font-weight: bold;
    color: rgb(126, 44, 44);
}
#lent {
    margin-top: 60px;
}
#köszönt {
    color: rgb(126, 44, 44);
    font-size: 25px;
    position: relative;
}

p{
    color:palevioletred;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Parisienne;
}

.main {
    margin-left: 150px;
}

.main p {
    text-align: left;
    
}
.quote {
    margin-inline-start: 50px;
    margin: 50px;
    padding: 25px;
    width: 600px;
    position: absolute;
    font-size: 20px;
  }

  .color {
    color: rgb(35, 13, 39);
      
  }

img {
    width: 200px;
box-shadow: 3px 3px 10px black;
}

#kepek {
    margin-left: 112px;
}
